.heading-one {
    font-size: 31px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 16px;
    color: #000;
}

.green-title {
    color: #009e66;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}

.gallery-thumbnail {
    border: 1px solid #ccc;
    margin: 5px;
  }
  
  .gallery-thumbnail:hover {
    border-color: #888;
  }

  .padding-port{
    padding: 20px 0;
  }

  figure{
    width: 25%;
    display: inline-block;
    margin: 10px !important;
  }